body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

    background-image: url("photo/kyyeu.jpg"); /* ảnh kỷ yếu */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* nền đứng yên khi cuộn */
}

.box {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 12px;
    font-size: 30px;
}

.link-box a {
    text-decoration: none;
    color: #1c4587;
    font-weight: bold;
}

.link-box a:hover {
    text-decoration: underline;
}

.anh {
    width: 650px;
    height: 650px;
}
