body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

    background-image: url("photo/kyyeu.jpg"); /* ảnh kỷ yếu */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* nền đứng yên khi cuộn */
}

.header {
    width: 100%;
    height: 100vh;
    background: transparent; 
    position: relative;
}

 .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    transform: translateY(-100px)
}

.header h1 {
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 52px;
    letter-spacing: 2px;
    margin: 10px 0;
}

.header h2 {
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 26px;
    font-weight: normal;
}

.tieude {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 18px;
    font-size: 30px;
}

.tieude h2 {
    color: #4a6cf7;
}

.link-box a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background: #6c8cff;
    padding: 12px 20px;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 22px;
}

.link-box a:hover {
    background: #4a6cf7;
}


.mxh {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.mxh a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(255,255,255,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mx img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}
