body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

    background-image: url("photo/kyyeu.jpg"); /* ảnh kỷ yếu */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* nền đứng yên khi cuộn */
}

/* Tạo lưới cho nhiều ảnh nhỏ */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  gap: 15px; 
  margin-top: 20px;
}

/* Định dạng từng ô ảnh nhỏ */
.photo-item {
  background: white;
  border: 1px solid #eee;
  padding: 5px;

}

.photo-item img {
  width: 100%;
  height: 150px; 
  object-fit: cover;
 
}

.box {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 12px;
    font-size: 30px;
}

.link-box a {
    text-decoration: none;
    color: #1c4587;
    font-weight: bold;
}

.link-box a:hover {
    text-decoration: underline;
}